.git
.gitignore
Dockerfile
.dockerignore

.env
.env.*
!.env.example

.mvn/wrapper/maven-wrapper.jar

target/
**/target/

node_modules/
**/node_modules/

dist/
build/

.idea/
.vscode/
*.iml

*.log
logs/

.DS_Store
Thumbs.db
Open Notebook.onetoc2
